body{
    margin: 0;
    padding: 0;
}
:root{
    --rosapastel: #EDDFE0;
    --blanco: #F5F5F7;
    --gris: #B7B7B7;
    --marron: #705C53;
    --rosa: #F0A8D0;
    --Durazno: #FFC6C6;
    --beige: #FFEBD4;
    --n:#FFF0F5;
}
header{
    background-color:#FFC6C6;
    color:#B7B7B7;
    width: 100%;
    height: 120px;
}
.logo-header{
    margin-top: 15px;
    max-width: 120px !important;
    float: left;
    margin-left: 30px;
}
.menu{
    list-style: none !important;
    float: right;
    margin: 50px 40px;
    text-align: center;
}
.menu li{
    display: inline;
    background-color:var(--n);
    padding: 27px;
    border-radius:9px;
}
menu li a{
    color: #FFEBD4;
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    text-decoration: none;
    
}
.menu li a :hover{
    color:#FFEBD4;
}
.servicios{
    width: 100%;
    display: grid;
    grid-template-columns: 630px 630px 630px;
    grid-gap: 10px;
    margin-top: 40px;

}
.card{
    background-color:beige;
    border:#705C53 4px solid;
    padding: 30px 30px;
    border-radius: 50px;
   
}
.card h3{
    font-size: 2.5em;
    color:#705C53;
    font-weight: 200;
    text-align: center ;
   
}
.card p{
    text-align: center;
    color:var(--marron);
}
p{
    font-size: 19px;
  
}
.titulo-seccion{
    text-align: center;
    color: #705C53;
    
}
.titulo-seccion h2{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.3em;
}
.titulo-seccion p{
    font-size: 40px;
    line-height: 1.4em;
}
.primary-color{
    background-color: var(--Durazno);
    margin-top: 40px;
}
.primary-font{
    color: var(--marron);
}
.white-color{
    color:var(--marron);

}
.padding-20x{
    padding: 20px;
}
.padding-50x{
    padding: 50px;
}
.padding-100x{
    padding-top: 100px;
}
.padding-top-100x{
    padding:100px;

}
.padding-bottom-100x{
    padding-bottom: 100px;
}
.primary-button{
    background-color: #FFEBD4;
    color: aliceblue;
    font-size: 26px;
    font-weight: 900;
    border-radius: 10px;
    padding: 15px;
    width: 300px ;
}
.primary-button:hover{
    background-color: var(--rosapastel);
    color: wheat;
}
.ubicacion {
    width: 94%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.ubicacion h2{
    font-size: 60px;
}
.rigth-column input [type="text"], [type="tel"], [type="email"], [type="text"] {
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border-color: #FFF0F5;
    font-size: 18px;
    color: #FFEBD4;
    margin-bottom: 20px;
    margin-top: 10px;
}
.rigth-column label{
    width: 100%;
    font-size: 18px;
    color: #F0A8D0;
    margin-bottom: 20px;
}
.rigth-column textarea{
    width: 100%;
    font-size: 18px;
    color: #705C53;
    margin-bottom: 20px;
}
.rigth-column input[type="submit"]{
    background-color: #FFC6C6;
    color: aliceblue;
    font-size: 20px;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
}
.footer{
    background-color: #FFC6C6;
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 1.6em;
    padding-top: 5%;
    width: 100%;
}
.social-incons ul{
    list-style: none;
}
.social-incons li{
    display: inline;
    font-size: 36px;
    padding: 10px;
    list-style: none;
}
.social-incons li a:hover{
    color: var(--beige);
}
.logo-footer{
   
    max-width: 120px !important;
    margin-left: 30px;
   
}
  
.footer-servicios li{
    list-style: circle;
    line-height: 1.7em;
    padding-top: 10px;
}
.footer-servicios li a{
    text-decoration: none;
    color: black;
}
.footer-servicios li a:hover {
    color: #F5F5F7;
    text-decoration: none;
}
.lista-ubicacion{
    list-style: circle; 
    line-height: 1.7em;
    padding-top: 10px;
}
.lista-ubicacion li a{
    color: #705C53;
    text-decoration: none;
}
.col-cafe{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
   
.border-white{
    border: 3px white;
    box-shadow: 5px 5px 15px black;
    border-radius: 50px;
    margin-left: 700px;
    margin-top: 20px;

}
.col-1{
    padding: 30px;
    padding-right: 10%;
    line-height: 1.8em;
    font-size: 30px;
    color: #705C53;
}
.card ul li{
    list-style: square;
    font-family: monospace;
    line-height: 2.2em;
    color: #705C53;
    font-size: 18px;

}

 
